html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#map {
  position: absolute;
  bottom: 20px;
  right: 75px;
  width: 400px;
  height: 300px;
  z-index: 13;
}

#griddedmap {
  position: absolute;
  bottom: 300px;
  right: 300px;
  width: 600px;
  height: 500px;
  z-index: 25;
}